.offcanvas-popup-container {
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all .5s;
    z-index: 3;
}

.offcanvas-popup-container.open {
    right: 0;
}

.actions-toolbar {
    background: #fff;
    position: absolute;
    width: 4rem;
    top: 5rem;
    left: -3.5rem;
}

.actions-toolbar .toolbar-inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.actions-toolbar .toolbar-inner ul > li > a {
    display: block;
    padding: 0.5rem 1rem;
}

.panel-container {
    width: 20rem;
    background: #fff;
    height: 100vh;
    padding: 2rem;
    box-shadow: -3px 0 50px -2px rgb(0 0 0 / 14%);   
}

.slapukai-container {
    position: fixed;
    width: 100%;
    background: #3858f5;
    padding: 1.5rem 10rem 1.5rem 3rem;
    bottom: 0;
    left: 0;
    color: #FFF;
}

.slapukai-container.closed {
    display: none;
}

.slapukai-container h2 {
    font-size: 1.1rem;
    text-transform: uppercase;
}

.slapukai-container p {
    font-size: 0.9rem;
}

.slapukai-container button.submit {
    position: absolute;
    top: 3.3rem;
    right: 2rem;
    background: #FFF;
    text-transform: uppercase;
    border: none;
    border-radius: 17px;
    padding: 0.5rem 1.5rem;
    color: #3858f5;
    font-weight: 600;
}

.slapukai-container a.dropdown {
    color: #fff;
    text-decoration: none;
}

.slapukai-container a.dropdown:after {
    content: "\25BD";
    margin-left: 5px;
}

.slapukai-container.open a.dropdown:after {
    content: "\25B3";
    margin-left: 5px;
}

.scroll-top .show {
    visibility: visible;
    opacity: 1;
    bottom: 60px;
}
.scroll-top {
    position: fixed;
    right: 30px;
    bottom: -60px;
    z-index: 999;
    -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.03);
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.03);
    display: block;
    padding: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    line-height: 60px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    background-color: #086AD8;
    background-size: 200% auto;
    background-position: left center;
    color: #ffffff;
    -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    overflow: hidden;
}
a, button, img, input {
    -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}